In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.set_option('display.max_rows', 30)
pd.set_option('precision', 3)

In [3]:
pd_version = pd.__version__
np_version = np.__version__

In [4]:
df = pd.read_csv('olive.csv')

In [6]:
df_shape = df.shape
df_shape

(572, 11)

In [7]:
df_first_two = df.head(2)
df_first_two

,Unnamed: 0,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29

In [12]:
df_data_types_count = df.dtypes.nunique()
df_data_types_count

2

In [13]:
df['sub_region_raw'] = df['Unnamed: 0']
df['sub_region_raw']

0        1.North-Apulia
1        2.North-Apulia
2        3.North-Apulia
3        4.North-Apulia
4        5.North-Apulia
5        6.North-Apulia
6        7.North-Apulia
7        8.North-Apulia
8        9.North-Apulia
9       10.North-Apulia
10      11.North-Apulia
11      12.North-Apulia
12      13.North-Apulia
13      14.North-Apulia
14      15.North-Apulia
             ...
557    558.West-Liguria
558    559.West-Liguria
559    560.West-Liguria
560    561.West-Liguria
561    562.West-Liguria
562    563.West-Liguria
563    564.West-Liguria
564    565.West-Liguria
565    566.West-Liguria
566    567.West-Liguria
567    568.West-Liguria
568    569.West-Liguria
569    570.West-Liguria
570    571.West-Liguria
571    572.West-Liguria
Name: sub_region_raw, Length: 572, dtype: object

In [23]:
df.rename(columns={'Unnamed: 0': 'sub_region_desc'}, inplace=True)
df.head(2)

,sub_region_desc,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic,sub_region_raw
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29,1.North-Apulia
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29,2.North-Apulia

In [24]:
df.rename(columns={'area': 'sub_region'}, inplace=True)
df.head(2)

,sub_region_desc,region,sub_region,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic,sub_region_raw
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29,1.North-Apulia
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29,2.North-Apulia

In [27]:
region_unique = df['region'].unique()
region_unique

array([1, 2, 3])

In [28]:
sub_region_unique_count = df['sub_region'].nunique()
sub_region_unique_count

9

In [34]:
srd_unique = df['sub_region_desc'].str.replace('\d+\.', '').unique()
srd_unique

array(['North-Apulia', 'Calabria', 'South-Apulia', 'Sicily',
       'Inland-Sardinia', 'Coast-Sardinia', 'Umbria', 'East-Liguria',
       'West-Liguria'], dtype=object)